# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

# Or visit:
# https://browserslist.dev/

firefox >= 90,
chrome >= 90,
edge >= 90,
safari >= 13,
and_chr >= 90,
and_ff >= 90,
ios_saf >= 13,
samsung >= 10,


